<?xml version="1.0" encoding="UTF-8"?>
<launch>

<!-- transform camera to kinect2 -->
 <node name="camera_to_kinect2_TFPublisher" pkg="tf" type="static_transform_publisher" args="-0 0 0 -1.5707963267948966 0 -1.5707963267948966 camera_link kinect2_link 100" required="true"/>
<!-- transform of NakBot -->
 <node name="NakBot_transform_publisher" pkg="JetSAS" type="NakBot_transform_publisher"/>

<!-- iai_kinect -->
 <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
    <arg name="publish_tf" value="true"/>
 </include>

<!-- JetSAS node -->
 <node name="JetSAS_node" pkg="JetSAS" type="JetSAS_node"/>

</launch>
